<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Person</title>
  </head>
  <body>
    <h1 th:text="${person.firstName + ' ' + person.lastName}">Client Listing</h1>
    <p th:text="${person.emailAddress}">emailAddress</p>
    <p th:text="${person.streetAddress}">streetAddress</p>
    <p th:text="${person.city}">city</p>
    <p th:text="${person.state}">state</p>
    <p th:text="${person.zipCode}">zipCode</p>
    <p th:text="TODO">Client</p>
  </body>
</html>